img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,body,#root{
  margin: 0;
  height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
}
/*COLORES*/
.texto_rosa{
  color:var(--color-logo);
}
.texto_azul{
  color: var(--blue-color);
}


/* HEADER*/
header{
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  background-color: var(--background-nav);
  width: 100%;
  height: 5vh;
  padding: 2.5vh 0 2.5vh 0;
}
header .logo{
  display: flex;
  text-decoration: none;
  width: fit-content;
  height: 100%;
}
header .logo .logo_circle{
  margin-left: 2rem;
  background-color: var(--color-logo);
  width: 6vh;
  height: 6vh;
  border-radius: 100px;
  display: inline-block;
}
header .logo .logotext{
  color: white;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
header a .logo_play{
  height: 100%;
  width: 100%;
}

/*MENU HEADER*/
header ul {
  margin:0;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}
header ul li{
  padding: auto;
  list-style: none;
  display: block;
  flex: 1 1 auto;
  font-size: 1.5rem;
  padding: 0.25rem;
}
header ul .close_session{
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;

  cursor: pointer;
  background-color: gray;
  margin: 1rem;
}
header ul .close_session:hover{
  color: black;
  background-color: white;
}

/*CONTENT*/


main{
  display: flex;
  height: 90vh;
}

.categorias{
  display: inline-block;
  text-align: center;
  background-color: var(--color-logo);
  height: 100%;
  width: 25vw;
  overflow: overlay;
}
.categorias ol{
  padding: 0;
}

.categorias ol li{
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0 1rem;
  text-align: left;
  font-size: 2rem;
  cursor: pointer;
}  
.categorias ol li:hover{
  color: var(--background-nav);
}
.categorias ol li:active{
  color: var(--background);
}  

/*BUSCADOR*/
.search_container{
  z-index: 40;
  background-color: var(--background);
  position: fixed;
  height: 10%;
  width: 100%;
  top:10%;
  width: 74vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mybuscador{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50vw;
}
.mybuscador input{
  padding: 2px;
  border: 0;
}
.mybuscador .texto{
  width: 79vw;
  padding-left: 1vw;
}
.mybuscador .enviar{
  background-color: white;
  border-left: 3px solid black;
  /*border-radius: 0 100rem 100rem 0;*/
  width: 20%;
}




.music_manage_container{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: black;
  flex-grow: 1;
}
.music_container{
  padding: 15vh 5vw 0 5vw;
  z-index: 50;

  height: 100%;
  width: 65vw;
  overflow: overlay;


  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  gap: 2em;

  align-items: center;
  justify-items: center;
}
.music_container div:first-child {
  grid-column: 1 / -1; /* El primer y último elemento ocupan todas las columnas */
}
.music_container div:last-child {
  grid-column: 1 / -1; /* El primer y último elemento ocupan todas las columnas */
}

.song_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 15rem;
  width: 15rem;
}
.song_container .play_button{
  z-index: 30;
  position: relative;
  top: 35%;
  left: 35%;
  background-color: #d3d3d300;
}
.song_container .play_button,.song_container .play_button img{
  width: 5rem;
  height: 5rem;
}
.song_container .play_button img{
  border:solid 1px black;
}

.song_container .play_button:active {
  opacity: 70%;
}
.song_container  .song_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(128, 128, 128, 0.466);
}
.song_container  .song_title,.song_container  .song_artist{
  margin: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  text-align: left;
}
.song_title{
  font-size: 1.5rem;
}

/*-----------------*/

.reproductor{
  z-index: 100;
  position: fixed;
  bottom: 5%;
  left: 30%;
  display: grid;
  height: 13.5%;
  width: 65%;
  background-color: var(--background-nav);
  border-radius: 10000px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;

  justify-content: space-between;
  justify-items: center;
  align-items: center;

  min-height: 5.5rem;
}


.reproductor .music_info{
  justify-self: left;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.reproductor .music_info>*{
  color: white;
  margin: 0;
}






/*NAV MUSIC*/
.control_music{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.play_button,.play_button img{
  height: 4rem;
  width: 4rem;
  padding: 0;
  border-radius: 10000px;
  border: 0;
}

.left_move,.right_move{
  margin: 0;
  padding: 0;
  border: 0;
}

.left_move, .left_move img{
  transform: rotate(90deg);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1000rem;
}
.right_move, .right_move img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1000rem;
}

/*SLIDER*/
.volume_controller{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.volume_controller img{
  width: 2.5rem;
  height: 2.5rem;
}

.slider {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 15px;  
  background: #d3d3d3;
  overflow: hidden;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}



/*Barra lateral*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: black;
  cursor: pointer;
  box-shadow: -200px 0 0 190px var(--red-color); /* 2 */
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background:black;
  cursor: pointer;
  box-shadow: -200px 0 0 190px var(--red-color); /* 2 */
}