img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,body,#root{
  margin: 0;
  height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
}
/*COLORES*/
.texto_rosa{
  color:var(--color-logo);
}
.texto_azul{
  color: var(--blue-color);
}


/* HEADER*/
header{
  padding: 0;
  margin: 0;
  display: flex;
  background-color: var(--background-nav);
  width: 100%;
  height: 5vh;
  padding: 2.5vh 0 2.5vh 0;
}
header .logo{
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
header .logo .logo_circle{
  margin-left: 2rem;
  background-color: var(--color-logo);
  width: 6vh;
  height: 6vh;
  border-radius: 100px;
  display: inline-block;
}
header .logo .logotext{
  color: white;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
header a .logo_circle .logo_play{
  height: 4vh;
  width: 4vh;
  position: relative;
  top: 0.9vh;
  left: 1.5vh;
  transform: rotate(90deg);
}

/*CONTENT*/



main{
  display: flex;
  height: 90vh;
  }

.categorias{
  display: inline-block;
  text-align: center;
  background-color: var(--color-logo);
  height: 100%;
  width: 25vw;
}

.categorias ol li{
  text-align: left;
  font-size: 2rem;
  cursor: pointer;
}  
.categorias ol li:hover{
  color: black;
}
.categorias ol li:active{
  color: var(--background);
}  

.mybuscador{
  position: fixed;
  top: 15%;
  left: 37.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50vw;
  z-index: 10;
}
.mybuscador input{
  padding: 2px;
  border: 0;
}
.mybuscador .texto{
  width: 79vw;
  padding-left: 1vw;
}
.mybuscador .enviar{
  background-color: white;
  border-left: 3px solid black;
  /*border-radius: 0 100rem 100rem 0;*/
  width: 20%;
}


.music_manage_container{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: black;
  flex-grow: 1;
}
.music_container{
  padding: 15vh 5vw 0 5vw;


  height: 100%;
  width: 65vw;
  overflow: overlay;



  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  gap: 2em;

  align-items: center;
  justify-items: center;

}

.music_container div:last-child {
  grid-column: 1 / -1; /* El primer y último elemento ocupan todas las columnas */
}

.song_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 15rem;
  width: 15rem;
}
.song_container .play_button{
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  position: relative;
  top: 35%;
  left: 35%;
  background-color: #d3d3d300;

}
.song_container .play_button img{
  width: 100%;
  height: 100%;
}
.song_container .play_button:active {
  opacity: 70%;
}
.song_container  .song_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(128, 128, 128, 0.466);
}
.song_container  .song_title,.song_container  .song_artist{
  margin: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  text-align: left;
}
.song_title{
  font-size: 1.5rem;
}

/*-----------------*/

.reproductor{
  position: fixed;
  bottom: 5%;
  left: 30%;
  display: grid;
  height: 13.5%;
  width: 65%;
  background-color: var(--background-nav);
  border-radius: 10000px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;

  justify-content: space-between;
  justify-items: center;
  align-items: center;

}


.reproductor .music_info{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.reproductor .music_info>*{
  color: white;
  margin: 0;
}






/*NAV MUSIC*/
.play_button{
  height: 50%;
  padding: 0;
  border-radius: 10000px;
  border: 0;
}
.play_button img{
  width: 100%;
  height: 100%;
  border-radius: 10000px;
}


/*SLIDER*/

.slider {
  -webkit-appearance: none;
  border-radius: 5px;  
  background: #d3d3d3;
  overflow: hidden;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: black;
  cursor: pointer;
  box-shadow: -200px 0 0 190px var(--red-color); /* 2 */
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background:black;
  cursor: pointer;
  box-shadow: -200px 0 0 190px var(--red-color); /* 2 */
}