@import "../components/css/comunStyle.css";

body,html,#root{
  height: 100%;
}

body{
  /*user-select: none;*/
  font-family: "Karantina";
  font-weight: bold;
  color: #fff;
  background-color: black;
  margin: 0;
}