@font-face {
    font-family: "Karantina";
    src: url(../../assets/Karantina-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Karantina";
    src: url(../../assets/Karantina-Bold.ttf) format('truetype');
    font-weight: bold;
}

:root {
    --background-nav: #272728;
    --backround: #3D3A3A;
    --color-logo: #FF8080;
    --blue-color: #00D1FF;
    --background-image-pc: url(../../assets/Landing_desk_res.jpg);
    --play-logo: url(../../assets/play.png);
  }