@font-face {
    font-family: "Karantina";
    src: url(../../assets/fonts/Karantina-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Karantina";
    src: url(../../assets/fonts/Karantina-Bold.ttf) format('truetype');
    font-weight: bold;
}

:root {
    --background-nav: #272728;
    --background: #3D3A3A;
    --color-logo: #FF8080;
    --blue-color: #00D1FF;
    --red-color: #FF4545;
    --background-image-pc: url(../../assets/images/Landing_desk_res.jpg);
    --play-logo: url(../../assets/images/play.png);
    --unknown-image: url(../../assets/images/unknown-image.jpg);

    --play-square: url(../../assets/images/play-square.png);
    --pause-square: url(../../assets/images/pause-square.png);
  }