@import "./comunStyle.css";


/*COLORES*/
.texto_rosa{
    color:var(--color-logo);
}
.texto_azul{
    color: var(--blue-color);
}


/* HEADER*/
header{
    display: flex;
    background-color: var(--background-nav);
    width: 100%;
    padding: 1rem 0rem;
}
header .logo{
    display: flex;
    text-decoration: none;
}

header a .logo_play{
    margin-left: 1rem;
    border-radius: 200px;
}
header .logo .logotext{
    color: white;
    margin: 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}