@import "./comunStyle.css";


/*COLORES*/
.texto_rosa{
    color:var(--color-logo);
}
.texto_azul{
    color: var(--blue-color);
}


/* HEADER*/
header{
    display: flex;
    background-color: var(--background-nav);
    width: 100%;
    padding: 1rem 0rem;
}
header .logo{
    display: flex;
    text-decoration: none;
}
header .logo .logo_circle{
    margin-left: 2rem;
    background-color: var(--color-logo);
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    display: inline-block;
}
header .logo .logotext{
    color: white;
    margin: 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
header a .logo_circle .logo_play{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.5rem;
    left: 0.8rem;
    transform: rotate(90deg);
}